In [2]:
import numpy as np
import pandas as pd
df = pd.DataFrame({
'name':['Jane','John','Ashley','Mike','Emily','Jack','Catlin'],
'ctg':['A','A','C','B','B','C','B'],
'val':np.random.random(7).round(2),
'val2':np.random.randint(1,10, size=7)
})
df.head()

     name ctg   val  val2
0    Jane   A  0.38     2
1    John   A  0.34     6
2  Ashley   C  0.15     8
3    Mike   B  0.05     7
4   Emily   B  0.46     3

In [21]:
# 0. loc ve iloc
#df.index = ['a','b','c','d','e','f','g']
print(df.iloc[3:5, :])
# If the dataframe has integer index, the indices and labels of the rows are the same. Thus, both loc and iloc accomplished the same thing on the rows.
print(df.loc[3:5, :])

    name ctg   val  val2
3   Mike   B  0.98     3
4  Emily   B  0.72     5
    name ctg   val  val2
3   Mike   B  0.98     3
4  Emily   B  0.72     5
5   Jack   C  0.77     5

In [22]:
print(df.iloc[:,-2:])
print(df.iloc[:,-2])

    val  val2
0  0.89     7
1  0.37     7
2  0.17     1
3  0.98     3
4  0.72     5
5  0.77     5
6  0.67     1
0    0.89
1    0.37
2    0.17
3    0.98
4    0.72
5    0.77
6    0.67
Name: val, dtype: float64

In [2]:
# 1. Logical Operators
print(type(df[df.val > 0.5]))
df[(df.val > 0.5) & (df.name > 'Jane')]

<class 'pandas.core.frame.DataFrame'>

   name ctg   val  val2
3  Mike   B  0.51     5

In [7]:
#2. isin method
names = ['John','Mike']
df[df.name.isin(names)]

   name ctg   val  val2
1  John   A  0.37     7
3  Mike   B  0.98     3

In [8]:
#3. string manipulation
print(df[df.name.str.startswith('J')])
print(df[df.name.str.contains('y')])

   name ctg   val  val2
0  Jane   A  0.89     7
1  John   A  0.37     7
5  Jack   C  0.77     5
     name ctg   val  val2
2  Ashley   C  0.17     1
4   Emily   B  0.72     5

In [12]:
#4. NOT LOGIC, tilde
df[~df.name.str.startswith('J')]

     name ctg   val  val2
2  Ashley   C  0.17     1
3    Mike   B  0.98     3
4   Emily   B  0.72     5
6  Catlin   B  0.67     1

In [13]:
#5. QUERY !!!!!!
df.query('ctg == "B" and val > 0.5')

     name ctg   val  val2
3    Mike   B  0.98     3
4   Emily   B  0.72     5
6  Catlin   B  0.67     1

In [14]:
#6. Nlargest or Nsmallest
df.nlargest(3, 'val')

   name ctg   val  val2
3  Mike   B  0.98     3
0  Jane   A  0.89     7
5  Jack   C  0.77     5

In [3]:
df = pd.DataFrame(
    np.random.randint(10, size=(5,5)), 
    columns=list("ABCDE")
)
print(df)
print(df.sum(axis=0))
print(df.sum(axis=1))

   A  B  C  D  E
0  5  5  0  3  8
1  6  5  5  8  7
2  0  1  8  5  2
3  9  2  6  6  6
4  3  9  4  8  3
A    23
B    22
C    23
D    30
E    26
dtype: int64
0    21
1    31
2    16
3    29
4    27
dtype: int64

In [4]:
print(df.sort_values(by="A"))
print('\n')
print(df.sort_values(by="A", ignore_index=True))

   A  B  C  D  E
2  0  1  8  5  2
4  3  9  4  8  3
0  5  5  0  3  8
1  6  5  5  8  7
3  9  2  6  6  6


   A  B  C  D  E
0  0  1  8  5  2
1  3  9  4  8  3
2  5  5  0  3  8
3  6  5  5  8  7
4  9  2  6  6  6

In [5]:
df.sort_values(by="A", ignore_index=True)
print(df)
print('degisikliklerin kaydfolması icin inplace = True olmalı')
## degisikliklerin kaydfolması icin
df.sort_values(by="A", ignore_index=True, inplace=True)
print(df)

   A  B  C  D  E
0  5  5  0  3  8
1  6  5  5  8  7
2  0  1  8  5  2
3  9  2  6  6  6
4  3  9  4  8  3
degisikliklerin kaydfolması icin inplace = True olmalı
   A  B  C  D  E
0  0  1  8  5  2
1  3  9  4  8  3
2  5  5  0  3  8
3  6  5  5  8  7
4  9  2  6  6  6

In [6]:
#rank function
print('RANK FUNCTION')
df["rank_ascending"] = df["D"].rank(ascending=True)
print(df)

RANK FUNCTION
   A  B  C  D  E  rank_ascending
0  0  1  8  5  2             2.0
1  3  9  4  8  3             4.5
2  5  5  0  3  8             1.0
3  6  5  5  8  7             4.5
4  9  2  6  6  6             3.0

In [ ]:
## UNION == APPEND

In [7]:
# CONCAT == UNION axis = 0 dersen  galiba
# merged_df = pd.concat(dict(zip(relevant, df)), axis=1)
# print(merged_df)

TypeError: cannot concatenate object of type '<class 'str'>'; only Series and DataFrame objs are valid

index degistirme, droplama

In [8]:
df.columns.droplevel(1)

IndexError: Too many levels: Index has only 1 level, not 2

In [4]:
import pandas as pd
ind = pd.date_range('01 / 01 / 2019', periods = 15, freq ='12H')
ind

DatetimeIndex(['2019-01-01 00:00:00', '2019-01-01 12:00:00',
               '2019-01-02 00:00:00', '2019-01-02 12:00:00',
               '2019-01-03 00:00:00', '2019-01-03 12:00:00',
               '2019-01-04 00:00:00', '2019-01-04 12:00:00',
               '2019-01-05 00:00:00', '2019-01-05 12:00:00',
               '2019-01-06 00:00:00', '2019-01-06 12:00:00',
               '2019-01-07 00:00:00', '2019-01-07 12:00:00',
               '2019-01-08 00:00:00'],
              dtype='datetime64[ns]', freq='12H')

In [ ]:
df.isnull().values.any()

In [ ]:
# From action_scifi, select only the rows where the genre_act column is null
scifi_only = action_scifi[action_scifi['genre_act'].isnull()]

How to iterate over a dataframe?

https://towardsdatascience.com/efficiently-iterating-over-rows-in-a-pandas-dataframe-7dd5f9992c01

Until now, all the techniques used simply add up single values. Instead of adding single values, why not group them into vectors to sum them up? The difference between adding two numbers or two vectors is not significant for a CPU, which should speed things up.

On top of that, Pandas can process Series objects in parallel, using every CPU core available!

The syntax is also the simplest imaginable: this solution is extremely intuitive. Under the hood, Pandas takes care of vectorizing our data with an optimized C code using contiguous memory blocks.

In [ ]:
### 1900x faster
%%timeit -n 1000
# Numpy vectorization
(df['src_bytes'].to_numpy() + df['dst_bytes'].to_numpy()).tolist()

### 1500x faster
# Vectorization
(df['src_bytes'] + df['dst_bytes']).to_list()

### 500x faster
# List comprehension
[src + dst for src, dst in zip(df['src_bytes'], df['dst_bytes'])]

### 10x faster
total = []
for row in df.itertuples():
    total.append(row.src_bytes + row.dst_bytes)

### 4x faster
# Apply
df.apply(lambda row: row['src_bytes'] + row['dst_bytes'], axis=1).to_list()

### 3x faster
total = []
for index in range(len(df)):
    total.append(df['src_bytes'].iloc[index] + df['dst_bytes'].iloc[index])

# Iterrows -->  WORST
total = []
for index, row in df.iterrows():
    total.append(row['src_bytes'] + row['dst_bytes'])

RUPLICATE, repeat rows N times

In [ ]:
newdf = pd.DataFrame(np.repeat(df.values, 3, axis=0), columns=df.columns)

hücre degerini almak  
amk ne kadar ugrastırıyormus

In [ ]:
tum_seriler[tum_seriler['SERIE_NAME'].str.contains('reel efektif')]['SERIE_CODE'].head(1).to_string(index=False)

## tek bir cell'i secmen lazım iloc, iat falan da olur
mydataframe['column_x'].head(1).to_string(index=False)

### GROUP BY

In [ ]:
## select sütun için dictionary ile filtreliyoruz. 
inv_jul_thr_sep.groupby(level=0).agg({'total':'mean'})

In [ ]:
call_counts = safety_calls.groupby('borough').unique_key.count()

In [4]:
data = [{'a':1, 'b':2}, {'a':5, 'b':10, 'c':20}]

df2 = pd.DataFrame(data)
df3 = pd.DataFrame(data, index = ['row1', 'row2'], columns = ['a', 'b'])
df4 = pd.DataFrame(data, index = ['row1', 'row2'], columns = ['a', 'b','c'])
df5 = pd.DataFrame(data, index = ['row1', 'row2'], columns = ['a', 'b','c', 'd'])

print(df2, '\n')
print(df3, '\n')
print(df4, '\n')
print(df5, '\n')

   a   b     c
0  1   2   NaN
1  5  10  20.0

      a   b
row1  1   2
row2  5  10

      a   b     c
row1  1   2   NaN
row2  5  10  20.0

      a   b     c   d
row1  1   2   NaN NaN
row2  5  10  20.0 NaN

## DATERANGEEE

In [5]:
dates = pd.date_range(start = '2022-05-20', end = '2022-05-26')
dates

DatetimeIndex(['2022-05-20', '2022-05-21', '2022-05-22', '2022-05-23',
               '2022-05-24', '2022-05-25', '2022-05-26'],
              dtype='datetime64[ns]', freq='D')

In [6]:
dates = pd.date_range('today', periods = 11)
dates

DatetimeIndex(['2022-05-24 09:52:11.152806', '2022-05-25 09:52:11.152806',
               '2022-05-26 09:52:11.152806', '2022-05-27 09:52:11.152806',
               '2022-05-28 09:52:11.152806', '2022-05-29 09:52:11.152806',
               '2022-05-30 09:52:11.152806', '2022-05-31 09:52:11.152806',
               '2022-06-01 09:52:11.152806', '2022-06-02 09:52:11.152806',
               '2022-06-03 09:52:11.152806'],
              dtype='datetime64[ns]', freq='D')

reverse böyle yapıyosun. Digit + Sembol olmalı

In [16]:
dates = pd.date_range(start='today', periods = 52, freq='-1D')
dates

DatetimeIndex(['2022-05-24 09:58:27.620950', '2022-05-23 09:58:27.620950',
               '2022-05-22 09:58:27.620950', '2022-05-21 09:58:27.620950',
               '2022-05-20 09:58:27.620950', '2022-05-19 09:58:27.620950',
               '2022-05-18 09:58:27.620950', '2022-05-17 09:58:27.620950',
               '2022-05-16 09:58:27.620950', '2022-05-15 09:58:27.620950',
               '2022-05-14 09:58:27.620950', '2022-05-13 09:58:27.620950',
               '2022-05-12 09:58:27.620950', '2022-05-11 09:58:27.620950',
               '2022-05-10 09:58:27.620950', '2022-05-09 09:58:27.620950',
               '2022-05-08 09:58:27.620950', '2022-05-07 09:58:27.620950',
               '2022-05-06 09:58:27.620950', '2022-05-05 09:58:27.620950',
               '2022-05-04 09:58:27.620950', '2022-05-03 09:58:27.620950',
               '2022-05-02 09:58:27.620950', '2022-05-01 09:58:27.620950',
               '2022-04-30 09:58:27.620950', '2022-04-29 09:58:27.620950',
               '2022-04-28 09:58:27.620950', '2022-04-27 09:58:27.620950',
               '2022-04-26 09:58:27.620950', '2022-04-25 09:58:27.620950',
               '2022-04-24 09:58:27.620950', '2022-04-23 09:58:27.620950',
               '2022-04-22 09:58:27.620950', '2022-04-21 09:58:27.620950',
               '2022-04-20 09:58:27.620950', '2022-04-19 09:58:27.620950',
               '2022-04-18 09:58:27.620950', '2022-04-17 09:58:27.620950',
               '2022-04-16 09:58:27.620950', '2022-04-15 09:58:27.620950',
               '2022-04-14 09:58:27.620950', '2022-04-13 09:58:27.620950',
               '2022-04-12 09:58:27.620950', '2022-04-11 09:58:27.620950',
               '2022-04-10 09:58:27.620950', '2022-04-09 09:58:27.620950',
               '2022-04-08 09:58:27.620950', '2022-04-07 09:58:27.620950',
               '2022-04-06 09:58:27.620950', '2022-04-05 09:58:27.620950',
               '2022-04-04 09:58:27.620950', '2022-04-03 09:58:27.620950'],
              dtype='datetime64[ns]', freq='-1D')

In [17]:
dates = pd.date_range(start='today', periods = 52, freq='-1SMS')
dates

DatetimeIndex(['2022-06-01 09:59:23.183412', '2022-05-15 09:59:23.183412',
               '2022-05-01 09:59:23.183412', '2022-04-15 09:59:23.183412',
               '2022-04-01 09:59:23.183412', '2022-03-15 09:59:23.183412',
               '2022-03-01 09:59:23.183412', '2022-02-15 09:59:23.183412',
               '2022-02-01 09:59:23.183412', '2022-01-15 09:59:23.183412',
               '2022-01-01 09:59:23.183412', '2021-12-15 09:59:23.183412',
               '2021-12-01 09:59:23.183412', '2021-11-15 09:59:23.183412',
               '2021-11-01 09:59:23.183412', '2021-10-15 09:59:23.183412',
               '2021-10-01 09:59:23.183412', '2021-09-15 09:59:23.183412',
               '2021-09-01 09:59:23.183412', '2021-08-15 09:59:23.183412',
               '2021-08-01 09:59:23.183412', '2021-07-15 09:59:23.183412',
               '2021-07-01 09:59:23.183412', '2021-06-15 09:59:23.183412',
               '2021-06-01 09:59:23.183412', '2021-05-15 09:59:23.183412',
               '2021-05-01 09:59:23.183412', '2021-04-15 09:59:23.183412',
               '2021-04-01 09:59:23.183412', '2021-03-15 09:59:23.183412',
               '2021-03-01 09:59:23.183412', '2021-02-15 09:59:23.183412',
               '2021-02-01 09:59:23.183412', '2021-01-15 09:59:23.183412',
               '2021-01-01 09:59:23.183412', '2020-12-15 09:59:23.183412',
               '2020-12-01 09:59:23.183412', '2020-11-15 09:59:23.183412',
               '2020-11-01 09:59:23.183412', '2020-10-15 09:59:23.183412',
               '2020-10-01 09:59:23.183412', '2020-09-15 09:59:23.183412',
               '2020-09-01 09:59:23.183412', '2020-08-15 09:59:23.183412',
               '2020-08-01 09:59:23.183412', '2020-07-15 09:59:23.183412',
               '2020-07-01 09:59:23.183412', '2020-06-15 09:59:23.183412',
               '2020-06-01 09:59:23.183412', '2020-05-15 09:59:23.183412',
               '2020-05-01 09:59:23.183412', '2020-04-15 09:59:23.183412'],
              dtype='datetime64[ns]', freq='-1SMS-15')

In [18]:
col1 = np.linspace(10, 100, 30)
col2 = np.random.randint(10, 100, 30)
df10 = pd.DataFrame({'C1':col1, 'C2':col2})
df10

            C1  C2
0    10.000000  89
1    13.103448  36
2    16.206897  96
3    19.310345  28
4    22.413793  23
5    25.517241  10
6    28.620690  69
7    31.724138  93
8    34.827586  26
9    37.931034  91
10   41.034483  99
11   44.137931  38
12   47.241379  78
13   50.344828  93
14   53.448276  51
15   56.551724  54
16   59.655172  86
17   62.758621  86
18   65.862069  80
19   68.965517  45
20   72.068966  41
21   75.172414  72
22   78.275862  63
23   81.379310  34
24   84.482759  84
25   87.586207  98
26   90.689655  63
27   93.793103  15
28   96.896552  70
29  100.000000  82

In [ ]:
df10 = df10.drop([7,8,9], axis = 0)
df10

In [ ]:
df10.drop(df10.index[5], axis = 0, inplace = True)
df10

In [25]:
df10.drop(df10.index[2:3], axis = 0, inplace = True)
df10

            C1  C2
0    10.000000  89
1    13.103448  36
3    19.310345  28
4    22.413793  23
6    28.620690  69
10   41.034483  99
11   44.137931  38
12   47.241379  78
13   50.344828  93
14   53.448276  51
15   56.551724  54
16   59.655172  86
20   72.068966  41
21   75.172414  72
22   78.275862  63
23   81.379310  34
24   84.482759  84
25   87.586207  98
26   90.689655  63
27   93.793103  15
28   96.896552  70
29  100.000000  82

      C1    C2
0   True  True
1   True  True
3   True  True
4   True  True
6   True  True
10  True  True
11  True  True
12  True  True
13  True  True
14  True  True
15  True  True
16  True  True
20  True  True
21  True  True
22  True  True
23  True  True
24  True  True
25  True  True
26  True  True
27  True  True
28  True  True
29  True  True

In [27]:
df4.isna()

          a      b      c
row1  False  False   True
row2  False  False  False

In [28]:
df4.notna()

         a     b      c
row1  True  True  False
row2  True  True   True

In [33]:
df44 = df4.fillna(31)
print(df4, '\n')
print(df44)

      a   b     c
row1  1   2   NaN
row2  5  10  20.0

      a   b     c
row1  1   2  31.0
row2  5  10  20.0

      a   b     c
row1  1   2   NaN
row2  5  10  20.0

## SUBTRACT, SQL EXCEPT EQUIVALENT

#### nasıl yapılmamalı....

In [1]:
import pandas as pd
# Create Data
data1 = [(2, 4, 6, 8),
         (1, 3, 5, 7),
         (5, 0, 0, 9)];
data2 = [(1, 1, 0 , 1)];

# Construct DataFrame1        

dataFrame1 = pd.DataFrame(data=data1);

print("DataFrame1:");
print(dataFrame1);

# Construct DataFrame2
dataFrame2 = pd.DataFrame(data=data2);

print("DataFrame2:");
print(dataFrame2);

# Subtracting DataFrame2 from DataFrame1

subtractionResults = dataFrame1 - dataFrame2;

print("Result of subtracting dataFrame1 from dataFrame2:");
print(subtractionResults);

DataFrame1:
   0  1  2  3
0  2  4  6  8
1  1  3  5  7
2  5  0  0  9
DataFrame2:
   0  1  2  3
0  1  1  0  1
Result of subtracting dataFrame1 from dataFrame2:
     0    1    2    3
0  1.0  3.0  6.0  7.0
1  NaN  NaN  NaN  NaN
2  NaN  NaN  NaN  NaN

### STACK UNSTACK MELT

In [3]:
df = pd.read_csv("https://media.geeksforgeeks.org/wp-content/uploads/nba.csv")
print(df.head())

            Name            Team  Number Position   Age Height  Weight  \
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3    R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4  Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0

             College     Salary
0              Texas  7730337.0
1          Marquette  6796117.0
2  Boston University        NaN
3      Georgia State  1148640.0
4                NaN  5000000.0

In [4]:
df_stacked = df.stack()
  
print(df_stacked.head(26))

0  Name            Avery Bradley
   Team           Boston Celtics
   Number                    0.0
   Position                   PG
   Age                      25.0
   Height                    6-2
   Weight                  180.0
   College                 Texas
   Salary              7730337.0
1  Name              Jae Crowder
   Team           Boston Celtics
   Number                   99.0
   Position                   SF
   Age                      25.0
   Height                    6-6
   Weight                  235.0
   College             Marquette
   Salary              6796117.0
2  Name             John Holland
   Team           Boston Celtics
   Number                   30.0
   Position                   SG
   Age                      27.0
   Height                    6-5
   Weight                  205.0
   College     Boston University
dtype: object

In [5]:
df_unstacked = df_stacked.unstack()
print(df_unstacked.head(10))

            Name            Team Number Position   Age Height Weight  \
0  Avery Bradley  Boston Celtics    0.0       PG  25.0    6-2  180.0
1    Jae Crowder  Boston Celtics   99.0       SF  25.0    6-6  235.0
2   John Holland  Boston Celtics   30.0       SG  27.0    6-5  205.0
3    R.J. Hunter  Boston Celtics   28.0       SG  22.0    6-5  185.0
4  Jonas Jerebko  Boston Celtics    8.0       PF  29.0   6-10  231.0
5   Amir Johnson  Boston Celtics   90.0       PF  29.0    6-9  240.0
6  Jordan Mickey  Boston Celtics   55.0       PF  21.0    6-8  235.0
7   Kelly Olynyk  Boston Celtics   41.0        C  25.0    7-0  238.0
8   Terry Rozier  Boston Celtics   12.0       PG  22.0    6-2  190.0
9   Marcus Smart  Boston Celtics   36.0       PG  22.0    6-4  220.0

             College      Salary
0              Texas   7730337.0
1          Marquette   6796117.0
2  Boston University         NaN
3      Georgia State   1148640.0
4                NaN   5000000.0
5                NaN  12000000.0
6                LSU   1170960.0
7            Gonzaga   2165160.0
8         Louisville   1824360.0
9     Oklahoma State   3431040.0

In [6]:
# it takes two columns "Name" and "Team"
df_melt = df.melt(id_vars =['Name', 'Team']) 
print(df_melt.head(10))

            Name            Team variable value
0  Avery Bradley  Boston Celtics   Number   0.0
1    Jae Crowder  Boston Celtics   Number  99.0
2   John Holland  Boston Celtics   Number  30.0
3    R.J. Hunter  Boston Celtics   Number  28.0
4  Jonas Jerebko  Boston Celtics   Number   8.0
5   Amir Johnson  Boston Celtics   Number  90.0
6  Jordan Mickey  Boston Celtics   Number  55.0
7   Kelly Olynyk  Boston Celtics   Number  41.0
8   Terry Rozier  Boston Celtics   Number  12.0
9   Marcus Smart  Boston Celtics   Number  36.0

FIRST N CHARACTERS, FILTERING

In [ ]:
nobel[nobel['sex']=='Female'].nsmallest(1,'year')

Recurring, tekrar eden kisiler degerler

In [ ]:
# Selecting the laureates that have received 2 or more prizes.
# ... YOUR CODE FOR TASK 5 ...
nobel.groupby('full_name').filter(lambda x: len(x)>1)

Value Counts, ne kadar deger var, group by count yani

In [ ]:
nsfg['outcome'].value_counts().sort_index()

###Importing  
If you'll assign column names to the imported file, you gotta do it for EVERY column. If you'll change a few, do it after the import.  

--> usecols = Belli columnları importlama

In [ ]:
# Create list of columns to use
cols = ['zipcode', 'agi_stub', 'mars1', 'MARS2', 'NUMDEP']

# Create dataframe from csv using only selected columns
data = pd.read_csv("vt_tax_data_2016.csv"
    , usecols = cols
    , nrows = 500
    , skiprows = 500
    , header = None)

# View counts of dependents and tax returns by income level
print(data.groupby("agi_stub").sum())

Nice work! Setting data types at import requires becoming familiar with the data first, but it can save effort later on. A common workflow is to load the data and explore it, then write code that sets data types at import to share with colleagues or other audiences.

In [ ]:
# Create dict specifying data types for agi_stub and zipcode
data_types = {'agi_stub':'category',
			  'zipcode':'str'}

# Load csv using dtype to set correct data types
data = pd.read_csv("vt_tax_data_2016.csv", dtype = data_types)

# Print data types of resulting frame
print(data.dtypes.head())

NULL VALUEları handle etme ve import etmeden set etme  
Create a dictionary, null_values, specifying that 0s in the zipcode column should be considered NA values.

In [ ]:
# Create dict specifying that 0s in zipcode are NA values
null_values = {'zipcode':0}

# Load csv using na_values keyword argument
data = pd.read_csv("vt_tax_data_2016.csv", 
                   na_values = null_values)

# View rows with NA ZIP codes
print(data[data.zipcode.isna()])

error False olunca skip ediyor hatalı kayıtları  
warn true olunca da belirtiyor hatalı kayıtları.

In [ ]:
try:
  # Set warn_bad_lines to issue warnings about bad records
  data = pd.read_csv("vt_tax_data_2016_corrupt.csv", 
                     error_bad_lines = False, 
                     warn_bad_lines = True)
  
  # View first 5 records
  print(data.head())
  
except pd.errors.ParserError:
    print("Your data contained rows that could not be parsed.")

When creating the string, remember you can specify column ranges with :, and list columns/ranges separated by commas, e.g., "A:D, H" gets columns A through D, inclusive, plus column H.

In [1]:
# Create string of lettered columns to load
col_string = "AD, AW:BA"

# Load data with skiprows and usecols set
survey_responses = pd.read_excel("fcc_survey_headers.xlsx", 
                                 skiprows=2, 
                                 nrows=1331,
                                 usecols=col_string)

# View the names of the columns selected
print(survey_responses.columns)

['AD,AW:BA']

Read_Excel() + Sheet varsa --> index ile de belirtebilirsin, sheet name ile de. Hatta mix bile yapabilion.  
Hepsini almak icin sheet_name = None

Modifying imports: true/false data

NA/missing values in Boolean columns are changed to True  
pandas automatically recognizes some values as True / False in Boolean columns  
Unrecognized values in a Boolean column are also changed to True  
Use read excel() 's true values argument to set custom True values and false values to set custom False values  
Each takes a list of values to treat as True / False , respectively  
Custom True / False values are only applied to columns set as Boolean

In [5]:
# Load file with Yes as a True value and No as a False value
survey_subset = pd.read_excel("fcc_survey_yn_data.xlsx",
                              dtype={"HasDebt": bool,
                              "AttendedBootCampYesNo": bool},
                              true_values = ["Yes"],
                              false_values = ["No"])

# View the data
print(survey_subset.head())

'A:D'

### Datetime Import

- Default olarak object olarak alıyor.
- dtype olarak degil parse_dates ile belirtecegiz


Note that the keys in a dictionary passed to parse_dates cannot be names of columns already in the dataframe. Also, when combining columns to parse, their order in the list does not matter.

For Non Standard Dates:
parse_dates doesn't work with non-standard datetime formats  
Use pd.to_datetime() aer loading data if parse_dates won't work

In [ ]:
# Create dict of columns to combine into new datetime column
datetime_cols = {"Part2Start": ["Part2StartDate", "Part2StartTime"]}

date_cols = ["Part1StartTime","Part1EndTime"] ## böyle de yaparsın ama sütuna isim veremiyo olursun o yüzden dict

# Load file, supplying the dict to parse_dates
survey_data = pd.read_excel("fcc_survey_dts.xlsx",
                            parse_dates = datetime_cols)

# View summary statistics about Part2Start
print(survey_data.Part2Start.describe())

### Importing Json

orient çok önemli. Split var, columnwise var, recordwise var.

Json normalize, nested json'lar için. Pandas'ın default libinde yok ekstra çağırmak gerekiyor.

In [ ]:
# Load json_normalize()
from pandas.io.json import json_normalize

# Isolate the JSON data from the API response
data = response.json()

# Flatten business data into a dataframe, replace separator
flat_cafes = json_normalize(data["businesses"],
                            sep="_",
                    		record_path="categories",
                    		meta=['name', 
                                  'alias',  
                                  'rating',
                          		  ['coordinates', 'latitude'], 
                          		  ['coordinates', 'longitude']],
                    		meta_prefix='biz_')