In [64]:
import pandas as pd
import numpy as np

In [51]:
input = [('b', 1), ('a', 2), ('x', 3), ('x', 4), ('z', 0)] #, ('y', 4)]
print(type(input))
print(type(input[0]))
print(input[0])
print(input[0][1])

<class 'list'>
<class 'tuple'>
('b', 1)
1

In [52]:
list = []
for i in range(len(input)):
    list.append(input[i][1])
list2 = sorted(list)
list.sort()

In [53]:
#input.index(list[1])
sonuc = [item for item in input if item[1] == list[2]][0]
print(sonuc)
print(sonuc[0])

('a', 2)
a

In [54]:
output = []
for j in range(len(input)):
    output.append([item for item in input if item[1] == list[j]][0])
print(output)

[('z', 0), ('b', 1), ('a', 2), ('x', 3), ('x', 4)]

In [47]:
print(list(filter(lambda x: 3 in x, input)))

TypeError: 'list' object is not callable

In [31]:
a = [1, 2, 3]
b = a
b[2] = 11

print("list a:", a)
print("list b:", b)
print("address of a:", id(a))
print("addrss of b", id(b))

list a: [1, 2, 11]
list b: [1, 2, 11]
address of a: 2486687857024
addrss of b 2486687857024

In [32]:
a = [1, 2, 3]

def func(input_list):
    input_list[2] = 11
    return input_list

b = func(a)
print("list a:", a)
print("list b:", b)
print("address of a:", id(a))
print("addrss of b", id(b))

list a: [1, 2, 11]
list b: [1, 2, 11]
address of a: 2486675817856
addrss of b 2486675817856

In [56]:
# A function that returns the 'year' value:
def myFunc(e):
  return e['year']

cars = [
  {'car': 'Ford', 'year': 2005},
  {'car': 'Mitsubishi', 'year': 2000},
  {'car': 'BMW', 'year': 2019},
  {'car': 'VW', 'year': 2011}
]

cars.sort(key=myFunc)
print(cars)

[{'car': 'Mitsubishi', 'year': 2000}, {'car': 'Ford', 'year': 2005}, {'car': 'VW', 'year': 2011}, {'car': 'BMW', 'year': 2019}]

In [90]:
feature_coefs={"x"+str(i):[] for i in range(7)}
print(feature_coefs)
feature_coefs2 = dict.fromkeys(["x"+str(i) for i in range(7)], [])
print(feature_coefs2)
feature_coefs['x6'].append(1)
print(feature_coefs)
feature_coefs['x6'].append(2)
print(feature_coefs)
feature_coefs['x6'].append([4,3])
print(feature_coefs)
feature_coefs['x6'].append([5,6])
print(feature_coefs)
feature_coefs['x6'] += (i for i in [7,8])
print(feature_coefs)
feature_coefs['x6'] += [i for i in [9,11]]
print(feature_coefs)
feature_coefs['x6'] += [i for i in [12,13]]
print(feature_coefs)

{'x0': [], 'x1': [], 'x2': [], 'x3': [], 'x4': [], 'x5': [], 'x6': []}
{'x0': [], 'x1': [], 'x2': [], 'x3': [], 'x4': [], 'x5': [], 'x6': []}
{'x0': [], 'x1': [], 'x2': [], 'x3': [], 'x4': [], 'x5': [], 'x6': [1]}
{'x0': [], 'x1': [], 'x2': [], 'x3': [], 'x4': [], 'x5': [], 'x6': [1, 2]}
{'x0': [], 'x1': [], 'x2': [], 'x3': [], 'x4': [], 'x5': [], 'x6': [1, 2, [4, 3]]}
{'x0': [], 'x1': [], 'x2': [], 'x3': [], 'x4': [], 'x5': [], 'x6': [1, 2, [4, 3], [5, 6]]}
{'x0': [], 'x1': [], 'x2': [], 'x3': [], 'x4': [], 'x5': [], 'x6': [1, 2, [4, 3], [5, 6], 7, 8]}
{'x0': [], 'x1': [], 'x2': [], 'x3': [], 'x4': [], 'x5': [], 'x6': [1, 2, [4, 3], [5, 6], 7, 8, 9, 11]}
{'x0': [], 'x1': [], 'x2': [], 'x3': [], 'x4': [], 'x5': [], 'x6': [1, 2, [4, 3], [5, 6], 7, 8, 9, 11, 12, 13]}

In [ ]:
cities = ['Mumbai', 'London', 'Paris', 'New York']
capitals = {'New Delhi':'India','Washington DC':'USA'}
cities.extend(capitals) # adds keys of dict as elements
print("Updated List: ",cities)

In [58]:
# A function that returns the 'year' value:
def myFunc(e):
  return e[1]

input = [('b', 1), ('a', 2), ('x', 3), ('x', 4), ('z', 0), ('y', 4)] 
input.sort(key=myFunc)
print(input)

[('z', 0), ('b', 1), ('a', 2), ('x', 3), ('x', 4), ('y', 4)]

In [59]:
input = [('b', 1), ('a', 2), ('x', 3), ('x', 4), ('z', 0), ('y', 4)] 
input.sort(key=lambda x: x[1])
print(input)

[('z', 0), ('b', 1), ('a', 2), ('x', 3), ('x', 4), ('y', 4)]

In [65]:
#There is actually a clever way to do this that is useful for any list of tuples where the size of each tuple is 2: you can convert your list into a single dictionary.
input = [('b', 1), ('a', 2), ('x', 3), ('x', 4), ('z', 0), ('y', 4)] 
dict_input = dict(input)
print(dict_input)
print(dict_input.get(1))
print(dict_input.get('z'))
print(dict_input['x'])
for letter, number in dict_input.items():
    if number == 1:
        print(letter + letter)

{'b': 1, 'a': 2, 'x': 4, 'z': 0, 'y': 4}
None
0
4
bb

In [79]:
items = ['a', 'b', 'a', 'c', 'd', 'd', 'd', 'c', 'a', 'b']
counts = pd.Series(items).value_counts()
print(counts.get('a'))
print(str(type(counts)) + '\n')
print(str(counts) + '\n')
print(counts[0])
print(type(counts[0]))

3
<class 'pandas.core.series.Series'>

a    3
d    3
b    2
c    2
dtype: int64

3
<class 'numpy.int64'>

In [87]:
#dropping nulls
dict1 = {'a': 'apple', 'b': 'banana', 'c':None}

dict1 = {key:value for (key, value) in dict1.items() if value is not None}
print(dict1)

#filtering
heights = {'John': 175, 'Jane': 150, 'Jim': 155, 'Matt': 170}

tall = {key:value for (key, value) in heights.items() if value >= 170}

print(tall)

{'a': 'apple', 'b': 'banana'}

In [81]:
dict1 = {i:i**2 for i in range(1,11)}
print(dict1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [85]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

dict3 = {**dict1, **dict2} # >= python 3.5

print(dict3)

dict4 = dict3 | {'x':31} # >= python 3.9
print(dict4)

dict4 = dict3 | dict3
print(dict4)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'x': 31}
{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [1]:
"""
6. Use Get Instead of the Dictionary Accessor
To access a Python dictionary item, you can use square bracket notation. This works well — until it doesn’t.
If a key doesn’t exist in a dictionary, an AttributeError is thrown.
This can disrupt your code.
However, using the get method will simply return None:
"""
dict1 = {'a':1, 'b':2}

print(dict1.get('c'))
print(dict1['c'])

# Returns: None
# Returns: KeyError

None

KeyError: 'c'

In [5]:
# remove duplicates from a list:
mylist = ["a", "b", "a", "c", "c"]
mylist = list(dict.fromkeys(mylist))
print(mylist)

['a', 'b', 'c']

In [17]:
import time
print(time.strftime("%H:%M:%S",time.localtime()))
print(time.localtime())

from datetime import datetime
#print(time.strftime("%H:%M:%S",datetime.now().time()))
print(datetime.now())

00:05:36
time.struct_time(tm_year=2022, tm_mon=4, tm_mday=5, tm_hour=0, tm_min=5, tm_sec=36, tm_wday=1, tm_yday=95, tm_isdst=0)
2022-04-05 00:05:36.747465

In [19]:
day_num = "339"
  
# print day number
print("The day number : " + str(day_num))
print(type(day_num))
# adjusting day num
day_num.rjust(3 + len(day_num), '0')
print("The day number : " + str(day_num))
print(type(day_num))

The day number : 339
<class 'str'>
The day number : 339
<class 'str'>

In [3]:
def func_y(n):
    y = '+'.join(str(x) for x in range(n))
    return (eval(y))
print(func_y(7))
print(func_y(3))
print(func_y(6))

21
3
15

### BITWISE SHIFT OPERATORS
x << y
Returns x with the bits shifted to the left by y places (and new bits on the right-hand-side are zeros). This is the same as multiplying x by 2**y.

x >> y
Returns x with the bits shifted to the right by y places. This is the same as dividing x by 2**y.

In [4]:
x = 5
x << 2

20

In [7]:
example = "snow world"
print(example[4:7])
print("%s " % example[4:7])
print("%s " % "bu ne simdi")

 wo
 wo
bu ne simdi

%d is for decimal integer

%s is for generic string or object and in case of object, it will be converted to string  
as you can see %d will truncate to integer, %s will maintain formatting, %f will print as float and %g is used for generic number

In [8]:
name ='giacomo'
number = 4.3
print('%s %s %d %f %g' % (name, number, number, number, number))

giacomo 4.3 4 4.300000 4.3

In [57]:
sentence = "one day soon"
print(sentence.split(" "))
print(sentence.split(" ")[:-1])
ttext = sentence.split(" ")
print("!".join(ttext).upper())

['one', 'day', 'soon']
['one', 'day']
ONE!DAY!SOON

In [50]:
sentence = """
Have free hours and love children? 
Drive kids to school, soccer practice 
and other activities.
"""
print(sentence.splitlines())#(" ")[:-1])
yahak = sentence.splitlines()
yahak = ' '.join(yahak)

onceki = ''
yahak2 = ''
for index, i in enumerate(yahak):
    if i == onceki or index == 0:
        pass
    else:
        yahak2 = yahak2 + i

yahak = [i.lower() for i in yahak2.split(" ") if len(i) > 0]
print(yahak)
return_list = []

for i in range(len(yahak)-1):
    return_list.append((yahak[i], yahak[i+1]))

print(return_list)

['', 'Have free hours and love children? ', 'Drive kids to school, soccer practice ', 'and other activities.']
['have', 'free', 'hours', 'and', 'love', 'children?', 'drive', 'kids', 'to', 'school,', 'soccer', 'practice', 'and', 'other', 'activities.']
[('have', 'free'), ('free', 'hours'), ('hours', 'and'), ('and', 'love'), ('love', 'children?'), ('children?', 'drive'), ('drive', 'kids'), ('kids', 'to'), ('to', 'school,'), ('school,', 'soccer'), ('soccer', 'practice'), ('practice', 'and'), ('and', 'other'), ('other', 'activities.')]

In [32]:
a = 'a'
b = 'b'
a = a +b
print(a)

ab

In [ ]:
def find_bigrams(sentence):
    yahak = sentence.splitlines()
    yahak = ' '.join(yahak)

    onceki = ''
    yahak2 = ''
    for index, i in enumerate(yahak):
        if i == onceki or index == 0:
            pass
        else:
            yahak2 = yahak2 + i

    yahak = [i.lower() for i in yahak2.split(" ") if len(i) > 0]
    print(yahak)
    return_list = []

    for i in range(len(yahak)-1):
        return_list.append((yahak[i], yahak[i+1]))

    return return_list

In [61]:
sentence = """
Have free hours and love children? 
Drive kids to school, soccer practice 
and other activities.
"""
print(sentence.splitlines())
print(sentence.split())
print(sentence.lower().split())
[(sentence.lower().split()[i], sentence.lower().split()[i+1]) for i in range(len(sentence.lower().split())-1)]

wwords = sentence.lower().split()
print('wow, kisa olan iterablei seciyor cok mantikli')
print(list(zip(wwords, wwords[1:])))

['', 'Have free hours and love children? ', 'Drive kids to school, soccer practice ', 'and other activities.']
['Have', 'free', 'hours', 'and', 'love', 'children?', 'Drive', 'kids', 'to', 'school,', 'soccer', 'practice', 'and', 'other', 'activities.']
['have', 'free', 'hours', 'and', 'love', 'children?', 'drive', 'kids', 'to', 'school,', 'soccer', 'practice', 'and', 'other', 'activities.']
wow
[('have', 'free'), ('free', 'hours'), ('hours', 'and'), ('and', 'love'), ('love', 'children?'), ('children?', 'drive'), ('drive', 'kids'), ('kids', 'to'), ('to', 'school,'), ('school,', 'soccer'), ('soccer', 'practice'), ('practice', 'and'), ('and', 'other'), ('other', 'activities.')]

In [63]:
import random
secenekler = ['tas', 'kagit', 'makas']
print('seni sectim pikacu: {}'.format(random.choice(secenekler)))

seni sectim pikacu: makas

In [ ]:
train_transf["weekday"]=train_transf.Date.apply(lambda x: x.weekday())

In [ ]:
from catboost import CatBoostRegressor
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,SGDRegressor
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import mean_squared_error,mean_absolute_error
X_train,X_test,y_train,y_test=train_test_split(train_transf.drop(columns=["Date","month","SalesQuantity"]),train_transf.SalesQuantity.values,test_size=0.2)
cat_vars=["StoreCode","ProductCode","IsPromotion","ProductGroup1","ProductGroup2","store_type","prod_type","weekday"]
cat_vars=[X_train.columns.tolist().index(i) for i in cat_vars]

model=CatBoostRegressor(learning_rate=0.15,num_boost_round=1100,early_stopping_rounds=200,task_type="GPU")
model.fit(X_train,y_train,
         eval_set=[(X_test,y_test)],cat_features=cat_vars)

list.index('column_name)

In [77]:
import seaborn as sns

iris = sns.load_dataset('iris')
print(type(iris))
print(iris.columns.tolist())
a = iris.columns.tolist()
print(a)
print(a.index('petal_width'))

<class 'pandas.core.frame.DataFrame'>
['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']
['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']
3

WHILE ELSE DIYE BISI VAAAAAAAAAAAAAR

In [3]:
x = 0
while x < 10:
    print('anlik x:', x)
    x += 1
else:  
    print('amk finito')
    print(x)

anlik x: 0
anlik x: 1
anlik x: 2
anlik x: 3
anlik x: 4
anlik x: 5
anlik x: 6
anlik x: 7
anlik x: 8
anlik x: 9
amk finito
10

In [6]:
import random
print(random.randrange(100,1000, 3)) ## 3 step size, 3e bolunebilen bir sayi
print(random.randrange(100,1000, 2)) ## 2 step size, 2ye bolunebilen bir sayi

613
804

In [10]:
try: 
#    a = 1/0
    print('ahanda bu trydir')
except:
    print('bu bir excepttir, try ederken hata ile karşilaşirsa print eder')
else:
    print('bu else ise HATA İLE KARŞILAŞMAZSA print eder')
finally:
    print('ne olursa olsun print eder')

bu bir excepttir, try ederken hata ile karşilaşirsa print eder
ne olursa olsun print eder

In [11]:
try: 
    print('ahanda bu trydir')
except:
    print('bu bir excepttir, try ederken hata ile karşilaşirsa print eder')
else:
    print('bu else ise HATA İLE KARŞILAŞMAZSA print eder')
finally:
    print('ne olursa olsun print eder')

ahanda bu trydir
bu else ise HATA İLE KARŞILAŞMAZSA print eder
ne olursa olsun print eder

## GARBAGE COLLECTION

finally garbage collection'a yarıyor. İşimizin sona erdiğinde finally'de variableları çöpe atıyoruz.

## DICTIONARYLERDE SON DEGISTIRILENI ESAS ALIR
#### ilkini değilllllllllll

In [12]:
### DICTIONARYLERDE SON DEGISTIRILENI ESAS ALIR
dict = {'Name':'Alex', 'yas':32, 'Name':'Niang'}
print(dict['Name'])

Niang

## ANONIM FONKSIYONLARDA VARIABLELAR FONKSIYONLASIYOR. VE ARGUMAN ALIYOR

In [13]:
addition_x = lambda x : x+5
addition_x(12)

17

## Her fonksiyonun 4 temel ve ortak, degismeyen parametresi var
positional arguments: *args  (asagida a == positional arguments isimleri)  
keyword arguments: **kwargs (asagida b == keyword arguments isimleri ve degerleri)

In [14]:
def fun(a, *args, b=20, **kwargs):
    print('vov')

In [16]:
res1 = (lambda *args : sum(args))
res1(20,30,40,41)

131

In [2]:
res1 = (lambda **kwargs : sum(kwargs.values()))
res1(a = 20,b=30,bc=40,cd=41)

131

filter  
map  
reduce   
PARAMETRELER : FUNCTION, ITERABLE

reduce ile listenin toplamını bulabilirsin, maxını bulabilirsin vs vs
iterate ede ede gidiyor işte mantık bu.  
print(functools.reduce(lambda a, b: a+b, lis)) yaparsan mesela sırayla toplar.

In [5]:
from functools import reduce
list1 = list(range(10))
sum_all = reduce(lambda a,b : a + b, list(map(lambda n:n*2,list(filter(lambda n:n%2 == 1, list1)))))
sum_all

50

In [16]:
import time
import numpy as np 
my_n = 10 ** 8
def trad_version():
    t1 = time.time()
    X = range(my_n)
    Y = range(my_n)
    Z = []
    for i in range(len(X)):
        Z.append(X[i] + Y[i])
    return time.time() - t1

def numpy_version():
    t1 = time.time()
    X = np.arange(my_n)
    Y = np.arange(my_n)
    Z = X + Y
    return time.time() - t1

#traditional_sure = trad_version()
#np_sure = numpy_version() 

#print(f"Sureler traditional: {traditional_sure}\n Numpy: {np_sure} \n Fark: {traditional_sure - np_sure} \n Oran: {(traditional_sure-np_sure)/traditional_sure}")

In [17]:
traditional_sure = trad_version()

In [18]:
np_sure = numpy_version()

In [19]:
print(f"Sureler traditional: {traditional_sure}\n Numpy: {np_sure} \n Fark: {traditional_sure - np_sure} \n Oran: {(traditional_sure-np_sure)/traditional_sure}")

Sureler traditional: 41.864434480667114
 Numpy: 0.46454763412475586
 Fark: 41.39988684654236
 Oran: 0.9889035253936301

IPython, which is running on DataCamp's servers, has a bunch of cool commands, including its magic commands. For example, starting a line with ! gives you complete system shell access.  
   This means that the IPython magic command ! ls will display the contents of your current directory

In [1]:
! ls

'ls' is not recognized as an internal or external command,
operable program or batch file.

## SQLITE

Exec edilen query dönütünü dataframe'e kaydedion. Kaç satır olacağını vs sen seçebiliosun.

In [ ]:
# Import packages
from sqlalchemy import create_engine
import pandas as pd

# Create engine: engine
engine = create_engine('sqlite:///Chinook.sqlite')

# Open engine connection: con
con = engine.connect()

# Perform query: rs
rs = con.execute('SELECT * FROM Album')

# Save results of the query to DataFrame: df
df = pd.DataFrame(rs.fetchall())

# Close connection
con.close()

# Print head of DataFrame df
print(df.head())

In [ ]:
engine = create_engine('sqlite:///Northwind.sqlite')

with engine.connect() as con:
    rs = con.execute("SELECT OrderID, OrderDate, ShipName FROM Orders")
    df = pd.DataFrame(rs.fetchmany(size=5))
    df.columns = rs.keys()

In [ ]:
# Import packages
from sqlalchemy import create_engine
import pandas as pd

# Create engine: engine
engine = create_engine('sqlite:///Chinook.sqlite')

# Execute query and store records in DataFrame: df
df = pd.read_sql_query('select * from Album', engine)

# Print head of DataFrame
print(df.head())

# Open engine in context manager and store query result in df1
with engine.connect() as con:
    rs = con.execute("SELECT * FROM Album")
    df1 = pd.DataFrame(rs.fetchall())
    df1.columns = rs.keys()

# Confirm that both methods yield the same result
print(df.equals(df1))

INTERNETTEN IMPORTTTTT

In [ ]:
# Import package
from urllib.request import urlretrieve

# Import pandas
import pandas as pd

# Assign url of file: url
url = 'https://assets.datacamp.com/production/course_1606/datasets/winequality-red.csv'

# Save file locally
urlretrieve(url, 'winequality-red.csv')

# Read file into a DataFrame and print its head
df = pd.read_csv('winequality-red.csv', sep=';')
print(df.head())

In [ ]:
# Assign url of file: url
url = 'https://assets.datacamp.com/production/course_1606/datasets/winequality-red.csv'

# Read file into a DataFrame: df
df = pd.read_csv(url, sep=';')

In [ ]:
# Import package
import pandas as pd

# Assign url of file: url
url = 'https://assets.datacamp.com/course/importing_data_into_r/latitude.xls'

# Read in all sheets of Excel file: xls
xls= pd.read_excel(url, sheet_name = None)

# Print the sheetnames to the shell
print(xls.keys())

# Print the head of the first sheet (using its name, NOT its index)
print(xls['1700'].head())

Note that HTTPS is a more secure form of HTTP. Each time you go to a website, you are actually sending an HTTP request to a server. This request is known as a GET request, by far the most common type of HTTP request. We are actually performing a GET request when using the function urlretrieve. The ingenuity of urlretrieve also lies in fact that it not only makes a GET request but also saves the relevant data locally.

In [ ]:
# Import packages
from urllib.request import urlopen, Request

# Specify the url
url = "https://campus.datacamp.com/courses/1606/4135?ex=2"

# This packages the request: request
request = Request(url)

# Sends the request and catches the response: response
response = urlopen(request)

# Print the datatype of response
print(type(response))

# Be polite and close the response!
response.close()

In [ ]:
# Import packages
from urllib.request import urlopen, Request

# Specify the url
url = "https://campus.datacamp.com/courses/1606/4135?ex=2"

# This packages the request
request = Request(url)

# Sends the request and catches the response: response
response = urlopen(request)

# Extract the response: html
html = response.read()

# Print the html
print(html)

# Be polite and close the response!
response.close()

request package'I

In [1]:
    # Import package
    import requests

    # Specify the url: url
    url = "http://www.datacamp.com/teach/documentation"

    # Packages the request, send the request and catch the response: r
    r = requests.get(url)

    # Extract the response: text
    text = r.text

    # Print the html
    print(text)

<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta name="robots" content="noindex, nofollow" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Just a moment...</title>
  <style>
    html, body {width: 100%; height: 100%; margin: 0; padding: 0;}
    body {background-color: #ffffff; color: #000000; font-family:-apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Helvetica Neue",Arial, sans-serif; font-size: 16px; line-height: 1.7em;-webkit-font-smoothing: antialiased;}
    h1 { text-align: center; font-weight:700; margin: 16px 0; font-size: 32px; color:#000000; line-height: 1.25;}
    p {font-size: 20px; font-weight: 400; margin: 8px 0;}
    p, .attribution, {text-align: center;}
    #spinner {margin: 0 auto 30px auto; display: block;}
    .attribution {margin-top: 32px;}
    @keyframes fader     { 0% {opacity: 0.2;} 50% {opacity: 1.0;} 100% {opacity: 0.2;} }
    @-webkit-keyframes fader { 0% {opacity: 0.2;} 50% {opacity: 1.0;} 100% {opacity: 0.2;} }
    #cf-bubbles > .bubbles { animation: fader 1.6s infinite;}
    #cf-bubbles > .bubbles:nth-child(2) { animation-delay: .2s;}
    #cf-bubbles > .bubbles:nth-child(3) { animation-delay: .4s;}
    .bubbles { background-color: #f58220; width:20px; height: 20px; margin:2px; border-radius:100%; display:inline-block; }
    a { color: #2c7cb0; text-decoration: none; -moz-transition: color 0.15s ease; -o-transition: color 0.15s ease; -webkit-transition: color 0.15s ease; transition: color 0.15s ease; }
    a:hover{color: #f4a15d}
    .attribution{font-size: 16px; line-height: 1.5;}
    .ray_id{display: block; margin-top: 8px;}
    #cf-wrapper #challenge-form { padding-top:25px; padding-bottom:25px; }
    #cf-hcaptcha-container { text-align:center;}
    #cf-hcaptcha-container iframe { display: inline-block;}
  </style>

      <meta http-equiv="refresh" content="35">
  <script>
    //<![CDATA[
    (function(){
      window._cf_chl_opt={
        cvId: "2",
        cType: "non-interactive",
        cNounce: "15328",
        cRay: "71918f17ccb898bb",
        cHash: "75086211a284979",
        cUPMDTk: "\/teach\/documentation?__cf_chl_tk=D2RqlwvptBKVS65JT2cNy5vlL8CI1hZICQ5oX5.eWUw-1654858361-0-gaNycGzNB_0",
        cFPWv: "b",
        cTTimeMs: "1000",
        cRq: {
          ru: "aHR0cHM6Ly93d3cuZGF0YWNhbXAuY29tL3RlYWNoL2RvY3VtZW50YXRpb24=",
          ra: "cHl0aG9uLXJlcXVlc3RzLzIuMjcuMQ==",
          rm: "R0VU",
          d: "bA+6iUGtrsPog+Oe0WlJaRW5Bbm0ciYiOvwOcizRSmHpj9n5FsKCaeON4TPRX4fjhPsPeucLF5lvVQF2/4kbMxx8ajaREqwSyI4dX10XV/9bt8LfxENYBEoPpjG47ox7/XyF/o5GTWJpwCL0c7HO7ZJ5EHM0z8C9u1LsCVssMHdV9i21MWGAjx8pyncCQmZYxKy+8dJAdiHwwPhfrEbBuDHDGVI+lGYTn2Wq+dnC7eKiYY8mFKdQePkcCO4WuoPIU/qJRqzkcC1AkxtzumUbPw0Hjvwa80j7RSvTRedx+AuGwWUPAl9g/UdGAGJkLcurhWi4bwE4FaNVyYh/aGVI1SQBfP/VSlPD1LGGDpRUY3Nla+IezdqZUfyu3s645wpRFt0SgQyd2eVrF7QdXVktg2CrmzktqenUvPOil9FuhvkS0UCrso0xaelR+zlqaHCh6BonC7QUk1U9hy9WHao24loThKPK/RjVCRZhICBbC2fhAlBtZF1yoX+gKEr1/TaX5QeVFQYd+zw7GHM/1xzHr56V+PH4QB0cu0Sa+FF3AwJo5tJQ02uS2yJehniLk3IT",
          t: "MTY1NDg1ODM2MS41NzMwMDA=",
          m: "ALM15uTVQbVxmNOToBii3LF8BL4nAAgo3I2KzMuQgc4=",
          i1: "zjvSanxeAo7VDuzsnEKM+Q==",
          i2: "9D831tPg1ZRqkWgzA4d9KQ==",
          zh: "hzfiqo9hugT9sHeHQ1zy81NCL/S0295H0+GuRnkSV9o=",
          uh: "JNy/u1JaDY8l68+s834y37Qd6UIzTJLBzCkJPX4t/ps=",
          hh: "rAZnIHiyrNuZ60h9aAZNML8izDilqmOSNuCtac1WqPs=",
        }
      }
      window._cf_chl_enter = function(){window._cf_chl_opt.p=1};
    })();
    //]]>
  </script>


</head>
<body>
  <table width="100%" height="100%" cellpadding="20">
    <tr>
      <td align="center" valign="middle">
          <div class="cf-browser-verification cf-im-under-attack">
  <noscript>
    <h1 data-translate="turn_on_js" style="color:#bd2426;">Please turn JavaScript on and reload the page.</h1>
  </noscript>
  <div id="cf-content" style="display:none">

    <div id="cf-bubbles">
      <div class="bubbles"></div>
      <div class="bubbles"></div>
      <div class="bubbles"></div>
    </div>
    <h1><span data-translate="checking_browser">Checking your browser before accessing</span> www.datacamp.com.</h1>

    <div id="no-cookie-warning" class="cookie-warning" data-translate="turn_on_cookies" style="display:none">
      <p data-translate="turn_on_cookies" style="color:#bd2426;">Please enable Cookies and reload the page.</p>
    </div>
    <p data-translate="process_is_automatic">This process is automatic. Your browser will redirect to your requested content shortly.</p>
    <p data-translate="allow_5_secs" id="cf-spinner-allow-5-secs" >Please allow up to 5 seconds&hellip;</p>
    <p data-translate="redirecting" id="cf-spinner-redirecting" style="display:none">Redirecting&hellip;</p>
  </div>

  <form class="challenge-form" id="challenge-form" action="/teach/documentation?__cf_chl_f_tk=D2RqlwvptBKVS65JT2cNy5vlL8CI1hZICQ5oX5.eWUw-1654858361-0-gaNycGzNB_0" method="POST" enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="md" value="0PVke9pR34UM.lWSRJcUlqdferCeFshY26LqzxIrFCQ-1654858361-0-AaPPhZCCZEUnTl-cxFNPupS8FhCziXH-z8yBGj2LmIb5HNhiFtekvIsTl3jdN5wSfjGnbEqxH563MPwJaTCm_n_Vh_Hshoxvp_j76Vid_k4tx6Mlg04oVLWZAdIG41IPXsyBXXxTVI0WAaTlp_1gQwP8MezwHTZCNLSRTqJHVSRPnanaDQseBI9yvuao3Jdarm98EL5-MKStQO7lNjEOrdTEUARbVr22vTgLSK_PwH6BshB0t1zinD1nAI8XnNhD1XNcHVLetiB23i8sHKxqCaGZV9tWtkrYOV9QiqZ2-HlYETsHt08DUVOqIm_WekxLtVCsfNXGjHxYBkL-izFlXii26Iz8vniY4P-8tVH6WcDNTMaSvUB_ku0cPWChToOxA_20FHnCWrxhSPqmKsIq6XmgyT8a1Ipm5rwzk9z-u1o0O2FmXR7t2MAdVdqraZnk188upuWGTDqLD7TKVoDcLp9WJUuw5V3GAZlCmlpvA7y7IxN1pYKqESQEyk3MykW4p9QJRlLdrjQaSPkBF3x9TNAufhkzYbUtKHagjLM7wyUq25_LRpFeqRRVCHbLVGi3GEcNlKin_14Ou_Bt4kXHxg1w89wlEjwUcgKpuJ7lqX4sEFNWvJ-f86CG_WXM_bidXP64QVK2nZS9QSAmaqCAhwo" />
    <input type="hidden" name="r" value="GM7CNA1F5wBee0o_ySECLJffWJTN0SWhCNoy.W19xiA-1654858361-0-AVBKKQiShhzK4nuChxZByHdxnc/hqGgPygOON7bFgEp5vAZYar88g+TS7GdbiiiLks/7UESlSWU/hLmxWI3aIdBz3e5YAIQI60UagrF709t/4wkRYTLnD+d59Tj6A2J5YDoKlu471ydsI0sthCW90U7WkTZqylpWB1/wN2GUPmKeHfrvF7A78XfXTw6GLvDZDe6mJUTfGqoT1Yqpuja4+gXlaVs7ZU2h7GvZ4KJ31mwm37Yk34uHTaIGOuVT91FAnDO6ZS0VnXpzj+9OIFX7NyfJFiUjjel+uLwhtDq6YyVCdfx1tWHn9MYgbujVPN8llUD6AwIrSBTFw1yL+h1qaES8MVysraZXIjHUA7vAhQ+0qkGdTSNzfMGE4vs48E0kJ4mI/Ts1a6RTLGEb1qIH33GJ2SwpzjKHKsiH/4k5H9fdJxv94EhRGsR+kGzXIragB0MKXCl/sAQCJUAD07+ZhHEmFrTlTVxJ2yJ1Hmw8gXDZX8ffQ7DtdFBlkYW2/PhR0p5lkZHsNl8LSQWoPfyr8CpOpPxGmRjufvbOwP1NY6HqvQ0MIya1cnU8xtlIUQWXgp46ULhTFMtLj0p7E3EZ/z5jbqbRYQehfzNVYsD4pt8A148bgbbURBi6Ki8p6SRBRhgVsg/9GkVNKlAeqA1AYpE9pZ7dTmG1/EBPyvOV8LUm8ZVPBwBjvmde04ppDpL8oVw4/NPQ9dEd247Eoi+VHGr2hCeXCTJFqCXTT+s0TpfsnFu82M5Uhj5iqFyMV1ClB6mbf2go+gW7dWTHPUFICqHZI5/2z7dXL6ke1qmWI/D+xAWJiLJGWR8eNQwkKp9waq8EtsCnwySe0NWjxho51reDz2u8b/965l2owymrHfdPLv23PMvJu+S2ab/QAIlIRPjqlbJlIgoDzzGr+bsONvDAQDt1qY55O3xlLyfLtGBwqLP4RifBvZd6ZC+73S/TtVAbXDlvpZ6if5FvdjaeHGI6ORBSN/bJndTVUqWr0AxTByaq14G08wFOzHHmk7Yr2kPGC1iejyqPub6geB1iEOsEIWJVLeS3iwd87e4Yrgedjujz01gRgzWMfswDB3VfUlqj2xjLenEe52fsLPocDTgNVW/CERQRyO2DgvKrj+o249TEgO18Xg3+xadt41p/bu3O4E2h92CaYI22zJtskjah9Hw4KWKPPJ+XQpND2fhj6LEhdflBOygqBbf/B7d9vj/tdwk6Hlq5uoPAR3gDy6dx4Jd90swcjeSCvoOWxFqCc6Ct9S+E4XO5bdM/H+USPiwA4LIPmOkmwTZc+m+Ic6PY8FXsXDKrvKkKF9TnD2bmCfBCYhrI12QXSHudQKzIyOn+1OaOIksW/S7GWXzIx/046hMs0dxsR7rCaRtBxpliVBr69okfZO4jWqwsH/DtfHORGvsZJu4KJRi+N8KUDSQC7Xi+12W6qxnMokYKPSHaE4+PIPxxs92HIXtQqm+HR3t1LozElVOjOchJ2ZRj0iy9appCVA3ipfkgv7zDheb+Bp78fCufrH6qSP9EEiPx0OwJGaXt9fhtVg1UNY1aTKtJCtxqPUR8AH2jaGKRtmvdo2cpoS0iJ98I6FZmLa4fLn71diXdhKni22MtSnRt1VYUXQ8WY8GAJqjcIU1ZKA12DSn70X34KCwZK5gzhjDBd6FBKB9ulq6RWQSR3R0tUoksXQ3JpcxWY2n/waMSW39Gleasy4yNU1BwvL8ANcgaU66wbTSvE0/geeLpF7OO0pdflww5NK7lsuPxQNsFd8UF4qAHyPHWv8neQ2toogSmh3k3eoLOvGx8iImpmOYggkLsdyVBhuxIpTBg7fIcA3cveVYd1VVnVEkiOaOzqOyoeqxZ95KNM8f6kk61Ngf3U8O/80IIaBsyRajq6OKDBkxWdYFB9xRteWBfO5oG6K1sxUoaxNMxUX7fVx4RV9XuOvUHBQ/gamuAs8swDmhZl9lWXg+ZkrKmhQpktLstipAY3Q=="/>
    <input type="hidden" value="deec758f75b91b297b30475da7f5de84" id="jschl-vc" name="jschl_vc"/>
    <!-- <input type="hidden" value="" id="jschl-vc" name="jschl_vc"/> -->
    <input type="hidden" name="pass" value="1654858362.573-xik6RjkOZl"/>
    <input type="hidden" id="jschl-answer" name="jschl_answer"/>
  </form>
       <script>
      //<![CDATA[
      (function(){
          var a = document.getElementById('cf-content');
          a.style.display = 'block';
          var isIE = /(MSIE|Trident\/|Edge\/)/i.test(window.navigator.userAgent);
          var trkjs = isIE ? new Image() : document.createElement('img');
          trkjs.setAttribute("src", "/cdn-cgi/images/trace/jschal/js/transparent.gif?ray=71918f17ccb898bb");
          trkjs.id = "trk_jschal_js";
          trkjs.setAttribute("alt", "");
          document.body.appendChild(trkjs);
          var cpo=document.createElement('script');
          cpo.type='text/javascript';
          cpo.src="/cdn-cgi/challenge-platform/h/b/orchestrate/jsch/v1?ray=71918f17ccb898bb";

          window._cf_chl_opt.cOgUHash = location.hash === '' && location.href.indexOf('#') !== -1 ? '#' : location.hash;
          window._cf_chl_opt.cOgUQuery = location.search === '' && location.href.slice(0, -window._cf_chl_opt.cOgUHash.length).indexOf('?') !== -1 ? '?' : location.search;
          if (window._cf_chl_opt.cUPMDTk && window.history && window.history.replaceState) {
            var ogU = location.pathname + window._cf_chl_opt.cOgUQuery + window._cf_chl_opt.cOgUHash;
            history.replaceState(null, null, "\/teach\/documentation?__cf_chl_rt_tk=D2RqlwvptBKVS65JT2cNy5vlL8CI1hZICQ5oX5.eWUw-1654858361-0-gaNycGzNB_0" + window._cf_chl_opt.cOgUHash);
            cpo.onload = function() {
              history.replaceState(null, null, ogU);
            };
          }

          document.getElementsByTagName('head')[0].appendChild(cpo);
        }());
      //]]>
    </script>


  <div id="trk_jschal_nojs" style="background-image:url('/cdn-cgi/images/trace/jschal/nojs/transparent.gif?ray=71918f17ccb898bb')"> </div>
</div>


          <div class="attribution">
            DDoS protection by <a rel="noopener noreferrer" href="https://www.cloudflare.com/5xx-error-landing/" target="_blank">Cloudflare</a>
            <br />
            <span class="ray_id">Ray ID: <code>71918f17ccb898bb</code></span>
          </div>
      </td>

    </tr>
  </table>
</body>
</html>

### BEAUTIFUL SOUPPP, ne güzel şeysin sen öyle

isim şurdan geliyor: syntactically veya structurally incorrect html'lere tag soup deniyomus. Bu abiler de 2004ten beri biz sizin icin düzeltiriz, structure ederizz diyolar.  
Ve requestle dönen html kodunu okunaklı hale getiriyolar. Prettify, Title, body bilmem ne gibi türlü fonksiyonları var.

In [ ]:
# Import packages
import requests
from bs4 import BeautifulSoup

# Specify url: url
url = 'https://www.python.org/~guido/'

# Package the request, send the request and catch the response: r
r = requests.get(url)

# Extracts the response as html: html_doc
html_doc = r.text

# Create a BeautifulSoup object from the HTML: soup
soup = BeautifulSoup(html_doc)

# Prettify the BeautifulSoup object: pretty_soup
pretty_soup = soup.prettify()

# Print the response
print(pretty_soup)

# Get the title of Guido's webpage: guido_title
guido_title = soup.title

# Get Guido's text: guido_text
guido_text = soup.get_text()

Use the method find_all() to find all hyperlinks in soup, remembering that hyperlinks are defined by the HTML tag <a> (yavuz ekleme: </a>) but passed to find_all() without angle brackets; store the result in the variable a_tags.

In [ ]:
# Find all 'a' tags (which define hyperlinks): a_tags
a_tags = soup.find_all('a')

# Print the URLs to the shell
for link in a_tags:
    print(link.get('href'))

BABA SLASH KOYARAK HALLEDEBILIYOSUN HTML API REQUEST ARGUMENTLARINI YA

Now it's your turn to pull some movie data down from the Open Movie Database (OMDB) using their API. The movie you'll query the API about is The Social Network. Recall that, in the video, to query the API about the movie Hackers, Hugo's query string was 'http://www.omdbapi.com/?t=hackers' and had a single argument t=hackers.

Note: recently, OMDB has changed their API: you now also have to specify an API key. This means you'll have to add another argument to the URL: apikey=72bc447a.

In [ ]:
# Import requests package
import requests

# Assign URL to variable: url
url = 'http://www.omdbapi.com/?apikey=72bc447a&t=the+social+network'

# Package the request, send the request and catch the response: r
r = requests.get(url)

# Print the text of the response
print(r.text)

In [ ]:
# Import package
import requests

# Assign URL to variable: url
url = 'http://www.omdbapi.com/?apikey=72bc447a&t=social+network'

# Package the request, send the request and catch the response: r
r = requests.get(url)

# Decode the JSON data into a dictionary: json_data
json_data = r.json()

# Print each key-value pair in json_data
for k in json_data.keys():
    print(k + ': ', json_data[k])

In [ ]:
# Import package
import json

# String of path to file: tweets_data_path
tweets_data_path = 'tweets.txt'

# Initialize empty list to store tweets: tweets_data
tweets_data = []

# Open connection to file
tweets_file = open(tweets_data_path, "r")

# Read in tweets and store in list: tweets_data
for line in tweets_file:
    tweet = json.loads(line)
    tweets_data.append(tweet)

# Close connection to file
tweets_file.close()

# Print the keys of the first tweet dict
print(tweets_data[0].keys())

### DATA CLEANING

In [ ]:
# Convert user_type from integer to category
ride_sharing['user_type_cat'] = ride_sharing['user_type'].astype('category')

# Write an assert statement confirming the change
assert ride_sharing['user_type_cat'].dtype == 'category'

### STRIPPPPPPP
very effective

In [ ]:
# Remove $ from Revenue column
sales['Revenue'] = sales['Revenue'].str.strip('$')
sales['Revenue'] = sales['Revenue'].astype('int')
assert sales['Revenue'].dtype == 'int'

In [ ]:
# Strip duration of minutes
ride_sharing['duration_trim'] = ride_sharing['duration'].str.strip('minutes')

# Convert duration to integer
ride_sharing['duration_time'] = ride_sharing['duration_trim'].astype(int)

# Write an assert statement making sure of conversion
assert ride_sharing['duration_time'].dtype == 'int'

# Print formed columns and calculate average ride duration 
print(ride_sharing[['duration','duration_trim','duration_time']])
print(ride_sharing['duration_time'].mean())

In [ ]:
# Convert ride_date to date
ride_sharing['ride_dt'] = pd.to_datetime(ride_sharing['ride_date']).dt.date

# Save today's date
today = dt.date.today()

# Set all in the future to today's date
ride_sharing.loc[ride_sharing['ride_dt'] > today, 'ride_dt'] = today

# Print maximum of ride_dt column
print(ride_sharing['ride_dt'].max())

In [ ]:
# Find duplicates
duplicates = ride_sharing.duplicated(subset = ['ride_id'], keep = False)

# Sort your duplicated rides
duplicated_rides = ride_sharing[duplicates].sort_values('ride_id')

# Print relevant columns of duplicated_rides
print(duplicated_rides[['ride_id','duration','user_birth_year']])

In [3]:
# Drop complete duplicates from ride_sharing
ride_dup = ride_sharing.drop_duplicates()

# Create statistics dictionary for aggregation function
statistics = {'user_birth_year': 'min', 'duration': 'mean'}

# Group by ride_id and compute new statistics
ride_unique = ride_dup.groupby('ride_id').agg(statistics).reset_index()

# Find duplicated values again
duplicates = ride_unique.duplicated(subset = 'ride_id', keep = False)
duplicated_rides = ride_unique[duplicates == True]

# Assert duplicates are processed
assert duplicated_rides.shape[0] == 0

{'user_birth_year': 'min', 'duration': 'mean'}

Categorical datalarda membership constrainti diye bi tabir var. Finite set of values olmasi hali, gpa harf olamaz, ayin hangi gunu degerleri bellidir vs

In [ ]:
# Find the cleanliness category in airlines not in categories
cat_clean = set(airlines['cleanliness']).difference(categories['cleanliness'])

# Find rows with that category
cat_clean_rows = airlines['cleanliness'].isin(cat_clean)

# Print rows with inconsistent category
print(airlines[cat_clean_rows])

# Print rows with consistent categories only
print(airlines[~cat_clean_rows])

### MAPPING ICIN REPLACE FONKSIYONUUUUU, DICTIONARY ILE ALIYOR

In [ ]:
# Lower dest_region column and then replace "eur" with "europe"
airlines['dest_region'] = airlines['dest_region'].str.lower() 
airlines['dest_region'] = airlines['dest_region'].replace({'eur':'europe'})

# Remove white spaces from `dest_size`
airlines['dest_size'] = airlines['dest_size'].str.strip()

In [ ]:
# Create ranges for categories
label_ranges = [0, 60, 180, np.inf]
label_names = ['short', 'medium', 'long']

# Create wait_type column
airlines['wait_type'] = pd.cut(airlines['wait_min'], bins = label_ranges, 
                                labels = label_names)

# Create mappings and replace
mappings = {'Monday':'weekday', 'Tuesday':'weekday', 'Wednesday': 'weekday', 
            'Thursday': 'weekday', 'Friday': 'weekday', 
            'Saturday': 'weekend', 'Sunday': 'weekend'}

airlines['day_week'] = airlines['day'].replace(mappings)

TEXT & STRING DUZELTME

bu ne la bunun listeyle, multi yapılan hali yok mu

In [ ]:
# Replace "Dr." with empty string ""
airlines['full_name'] = airlines['full_name'].str.replace("Dr.","")

# Replace "Mr." with empty string ""
airlines['full_name'] = airlines['full_name'].str.replace("Mr.","")

# Replace "Miss" with empty string ""
airlines['full_name'] = airlines['full_name'].str.replace("Miss","")

# Replace "Ms." with empty string ""
airlines['full_name'] = airlines['full_name'].str.replace("Ms.","")

# Assert that full_name has no honorifics
assert airlines['full_name'].str.contains('Ms.|Mr.|Miss|Dr.').any() == False

In [ ]:
phones["Phone number"] = phones["Phone number"].str.replace("+", "00")

digits = phones['Phone number'].str.len()
phones.loc[digits < 10, "Phone number"] = np.nan

# Replace letters with nothing
phones['Phone number'] = phones['Phone number'].str.replace(r'\D+', '')

In [ ]:
# Find values of acct_cur that are equal to 'euro'
acct_eu = banking['acct_cur'] == 'euro'

# Convert acct_amount where it is in euro to dollars
banking.loc[acct_eu, 'acct_amount'] = banking.loc[acct_eu, 'acct_amount'] * 1.1

# Unify acct_cur column by changing 'euro' values to 'dollar'
banking.loc[acct_eu, 'acct_cur'] = 'dollar'

# Assert that only dollar currency remains
assert banking['acct_cur'].unique() == 'dollar'

In [ ]:
# Print the header of account_opend
print(banking['account_opened'].head())

# Convert account_opened to datetime
banking['account_opened'] = pd.to_datetime(banking['account_opened'],
                                           # Infer datetime format
                                           infer_datetime_format = True,
                                           # Return missing value for error
                                           errors = 'coerce') 

# Get year of account opened
banking['acct_year'] = banking['account_opened'].dt.strftime('%Y')

# Print acct_year
print(banking['acct_year'])

## DT.YEAR NE GUZEL BISIIIIIIIIIIIIIIIIIIIIIIIIIIIIII

In [ ]:
# Store today's date and find ages
today = dt.date.today()
ages_manual = today.year - banking['birth_date'].dt.year

## MISSING VALUES, RANDOMNESS

burda güzel şeyler anlattı. Belli NA'lar ortak bir sebepten kaynaklanıyo olabilir, random olmayabilirler. Sistematik bakmaya calis. Bunun icin de column Na'lığını plotlayan güzel bi metod var.

In [ ]:
# Print number of missing values in banking
print(banking.isna().sum())

# Visualize missingness matrix
msno.matrix(banking)
plt.show()

# Isolate missing and non missing values of inv_amount
missing_investors = banking[banking['inv_amount'].isna()]
investors = banking[~banking['inv_amount'].isna()]

# Sort banking by age and visualize
banking_sorted = banking.sort_values(by ='age')
msno.matrix(banking_sorted)
plt.show()

FILLNA(), bakar mısın suna ya dışardan array alıyor. Fonksiyon alsaydı?

In [ ]:
# Drop missing values of cust_id
banking_fullid = banking.dropna(subset = ['cust_id'])

# Compute estimated acct_amount
acct_imp = banking_fullid['inv_amount'] * 5

# Impute missing acct_amount with corresponding acct_imp
banking_imputed = banking_fullid.fillna({'acct_amount':acct_imp})

# Print number of missing values
print(banking_imputed.isna().sum())

In [4]:
import numpy as np
import pandas as pd
df = pd.DataFrame([[np.nan, 2, np.nan, 0],
                   [3, 4, np.nan, 1],
                   [5, np.nan, np.nan, 6],
                   [np.nan, 4, np.nan, 5]],
                 columns=list('PQRS'))
df

     P    Q   R  S
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  5.0  NaN NaN  6
3  NaN  4.0 NaN  5

In [5]:
df.fillna(0)

     P    Q    R  S
0  0.0  2.0  0.0  0
1  3.0  4.0  0.0  1
2  5.0  0.0  0.0  6
3  0.0  4.0  0.0  5

In [6]:
df.fillna(method='ffill')

     P    Q   R  S
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  5.0  4.0 NaN  6
3  5.0  4.0 NaN  5

In [7]:
values = {'P': 0, 'Q': 1, 'R': 2, 'S': 3}
df.fillna(value=values)

     P    Q    R  S
0  0.0  2.0  2.0  0
1  3.0  4.0  2.0  1
2  5.0  1.0  2.0  6
3  0.0  4.0  2.0  5

### MINIMUM EDIT DISTANCE
Insertion of a new character.  
Deletion of an existing character.  
Substitution of an existing character.  
Transposition of two existing consecutive characters.

In [ ]:
# Create a list of matches, comparing 'italian' with the cuisine_type column
matches = process.extract('italian', restaurants['cuisine_type'], limit=len(restaurants.cuisine_type))

# Iterate through the list of matches to italian
for match in matches:
  # Check whether the similarity score is greater than or equal to 80
  if match[1] >= 80:
    # Select all rows where the cuisine_type is spelled this way, and set them to the correct cuisine
    restaurants.loc[restaurants['cuisine_type'] == match[0], 'cuisine_type'] = 'italian'

### Record Linkage

In [ ]:
# Iterate through categories
for cuisine in categories:  
  # Create a list of matches, comparing cuisine with the cuisine_type column
  matches = process.extract(cuisine, restaurants['cuisine_type'], limit=len(restaurants.cuisine_type))

  # Iterate through the list of matches
  for match in matches:
     # Check whether the similarity score is greater than or equal to 80
    if match[1] >= 80:
      # If it is, select all rows where the cuisine_type is spelled this way, and set them to the correct cuisine
      restaurants.loc[restaurants['cuisine_type'] == match[0]] = cuisine
      
# Inspect the final result
print(restaurants['cuisine_type'].unique())

In [ ]:
# Create an indexer and object and find possible pairs
indexer = recordlinkage.Index()

# Block pairing on cuisine_type
indexer.block('cuisine_type')

# Generate pairs
pairs = indexer.index(restaurants, restaurants_new)

In [ ]:
# Create a comparison object
comp_cl = recordlinkage.Compare()

# Find exact matches on city, cuisine_types - 
comp_cl.exact('city', 'city', label='city')
comp_cl.exact('cuisine_type', 'cuisine_type', label='cuisine_type')

# Find similar matches of rest_name
comp_cl.string('rest_name', 'rest_name', label='name', threshold = 0.8) 

# Get potential matches and print
potential_matches = comp_cl.compute(pairs, restaurants, restaurants_new)
print(potential_matches)

Multi Index

In [ ]:
# Isolate potential matches with row sum >=3
matches = potential_matches[potential_matches.sum(axis=1) >= 3]

# Get values of second column index of matches
matching_indices = matches.index.get_level_values(1)

# Subset restaurants_new based on non-duplicate values
non_dup = restaurants_new[~restaurants_new.index.isin(matching_indices)]

# Append non_dup to restaurants
full_restaurants = restaurants.append(non_dup)
print(full_restaurants)

GENERATOR OBJECT

In [ ]:
lst = ['numpy', 'pandas', 'requests']

lst_gen = (pkg for pkg in lst)

next(lst_gen)

In [8]:
def factorial(n):
    """returns n!"""
    return 1 if n < 2 else n * factorial(n-1)

factorial.__doc__

'returns n!'

In [1]:
import os
os.getcwd()

'c:\\Users\\e580\\Desktop\\python\\test and learn'

In [2]:
import pandas as pd
df = pd.read_csv('c:\\Users\\e580\\Desktop\\binnazdwh_pg_temp_2_fallar_pivot_2.csv')

In [3]:
df.head()

   yil_ay      pid tablename  baktirdigi_fal_sayisi
0  202201  1998405      live                      9
1  202201  1808771     kahve                     10
2  202201    13562     tarot                     58
3  202201   394098     tarot                      9
4  202201   566289    katina                      4

In [4]:
df = df.sort_values(by=['baktirdigi_fal_sayisi'], ascending=False)

In [5]:
df['Birlesik'] = df['tablename'].map(str) + '-' + df['baktirdigi_fal_sayisi'].map(str) + ' | '
df.head()

      yil_ay      pid tablename  baktirdigi_fal_sayisi         Birlesik
7273  202205  1964744      live                    156      live-156 |
2434  202204  1908943      live                    127      live-127 |
8174  202205   173516  durugoru                    122  durugoru-122 |
22    202203  1964744      live                    121      live-121 |
7174  202204  1964744      live                    116      live-116 |

In [25]:
df_result = df.groupby(['yil_ay', 'pid'])['Birlesik'].agg(sum).reset_index()
df_result.head()
df_result.to_csv('c:\\Users\\e580\\Desktop\\vision\\altinuyeler_fallar.csv', header=True, index=False)

In [4]:
df.pivot(index = ['yil_ay', 'pid'], columns = 'tablename')['baktirdigi_fal_sayisi']

tablename       astro  astronatal  astrosinastri  astrosolar  durugoru  el  \
yil_ay pid
202201 88         NaN         NaN            NaN         NaN       1.0 NaN
       597        NaN         NaN            NaN         NaN       NaN NaN
       4066       NaN         NaN            NaN         NaN       NaN NaN
       4646       NaN         NaN            NaN         NaN       NaN NaN
       7628       NaN         NaN            NaN         NaN      24.0 NaN
...               ...         ...            ...         ...       ...  ..
202206 2293785    NaN         NaN            NaN         NaN       1.0 NaN
       2293945    NaN         NaN            NaN         NaN       NaN NaN
       2294548    NaN         NaN            NaN         NaN       1.0 NaN
       2294576    NaN         NaN            NaN         NaN       2.0 NaN
       2294669    NaN         NaN            NaN         NaN       NaN NaN

tablename       iskambil  kahve  katina  live  ruya  tarot
yil_ay pid
202201 88            NaN   12.0     4.0   NaN   NaN    NaN
       597           NaN   31.0     4.0   NaN   NaN    NaN
       4066          NaN   24.0     1.0   NaN   NaN    9.0
       4646          NaN   16.0     2.0   1.0   NaN    1.0
       7628          NaN    NaN     3.0   NaN   3.0    4.0
...                  ...    ...     ...   ...   ...    ...
202206 2293785       NaN    NaN     1.0   NaN   NaN    NaN
       2293945       NaN    2.0     1.0   NaN   NaN    7.0
       2294548       NaN    NaN     NaN   4.0   NaN    NaN
       2294576       NaN    NaN     NaN   NaN   NaN    NaN
       2294669       NaN    NaN     NaN   2.0   NaN    NaN

[4561 rows x 12 columns]

In [ ]:
df.pivot_table(index = ['yil_ay', 'pid'], columns = 'tablename')['baktirdigi_fal_sayisi']

### Tuples

In [1]:
a = {"A", "B", "C", "D"}
b = {"B", "D", "E"}
c = {"E", "B", "A"}
print(b & c)
print(b|c)
print(b^c)
print((b^c) - a)

{'E', 'B'}
{'B', 'D', 'E', 'A'}
{'D', 'A'}
set()

### List Operations

In [2]:
a = list(range(3))
b = list(range(8))
print(b)
print(a + b)

[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 0, 1, 2, 3, 4, 5, 6, 7]

In [3]:
k = list(map(
    lambda x,y: x +y, 
    a,
    b
))
print(k)
print(len(k))

[0, 2, 4]
3

In [4]:
h = ['a', 'b', 'c']
print(h[-1])
print(h[-0])
print(h[-3])

c
a
a